@media screen and (max-width: 1920px) {

    /* Main */
    html,
    body {
        font-size: 20px;
    }


    h2 {
        font-size: 3.2rem;
    }

    h2.title-info {
        margin: 0 0 4rem 0;
    }

    h3 {
        font-size: 1.8rem;
        margin: 1.5rem 0;
    }

    p {
        font-size: 1rem;
    }

    .block-info {
        margin: 5rem 8rem;
    }

    /* Block with spoiler */

    /*  Body spoiler    */

    .spoiler {
        p {
            margin: 0 0 1.5rem;
        }
    }
}

@media screen and (max-width: 1440px) {
    body, html {
        font-size: 15px;
    }
    h3 {
        margin: 1.6rem 0 1.33rem; /*24px 0 20px*/
    }
    .block-info {
        margin: 5.33rem 8rem; /*80px 120px*/
    }
}
@media screen and (max-width: 1280px) {
    body, html {
        font-size: 14px;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 1.7rem;
    }

    .block-info {
        margin: 5rem 7.6rem;
    }
}
@media screen and (max-width: 768px) {
    body, html {
        font-size: 15px;
    }
    h2 {
        font-size: 2.8rem;
    }
    h2.title-info {
        margin: 0 0 3.3rem 0;
    }
    h3 {
        margin: 1.6rem 0 1.06rem;
    }
    .block-info {
        margin: 4rem 2.65rem;
    }
}

@media screen and (max-width: 375px) {
    body, html {
        font-size: 15px;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.6rem;
    }
    .block-info {
        margin: 4rem 2.6rem;
    }
}